In [2]:
d = pd.read_csv("../keep_shuf/annotated_shufs.bed.gz",sep="\t", header=None)

In [3]:
with open("../misc_files/repeats_aboveN500.txt", "r") as fh:
    repeats = [line.strip().replace("/",".").replace(".","_").replace("-","_") for line in fh]

In [4]:
repeats_c = ["{}_c".format(p) for p in repeats]

In [5]:
d.columns = ["scaf", "start", "end", "cross_id", 
             "cpgi", "prdm9", "hotspot","rep", 
             "fam", "allele"] + sum([["{}_c".format(p),p] for p in repeats], [])

In [6]:
d["cbool"] = d.rep==0
d["width"] = d.end - d.start

In [7]:
subd = d[(d.cpgi>5e3) & (d.width<4e3)]

In [8]:
fold_df = subd.groupby("cbool")[repeats].mean().transpose().reset_index()
fold_df.columns = ["repeat", "noncrossover", "crossover"]
fold_df["fold"] = fold_df.noncrossover/fold_df.crossover

In [9]:
og = d[(d.rep==0) & (d.allele=="PRDM9-I")]

In [10]:
og.groupby("fam")["LINE_CR1_L2_c"].mean()

fam
fam1    0.093023
fam2    0.088235
Name: LINE_CR1_L2_c, dtype: float64

In [11]:
fold_df[fold_df.fold<1200].sort_values(by="fold", ascending=False).head(30)

               repeat  noncrossover  crossover       fold
44               LINE      0.002134   0.000094  22.781467
33        LINE_CR1_L3      0.000418   0.000028  15.161650
51          DNA_TcMar      0.001608   0.000181   8.898585
59           LTR_DIRS      0.002679   0.000307   8.726368
64        LINE_CR1_L2      0.004866   0.000585   8.318323
40            LTR_ERV      0.001284   0.000192   6.696636
67          LTR_Copia      0.011430   0.002550   4.481706
79            Unknown      0.019673   0.004734   4.156097
52        LTR_Unknown      0.002430   0.000675   3.603097
60      LINE_Penelope      0.005776   0.001938   2.980457
50  DNA_hAT_Blackjack      0.002719   0.001041   2.610296
58       LINE_Dong_R4      0.005446   0.002132   2.553934
34      DNA_CMC_EnSpm      0.000561   0.000236   2.376150
49          SINE_tRNA      0.001728   0.000787   2.195939
54         LINE_RTE_X      0.003064   0.001471   2.082780
75            LINE_L1      0.021588   0.010785   2.001781
27          LINE_Rex1      0.001013   0.000593   1.708128
77                DNA      0.015936   0.010056   1.584755
68            DNA_hAT      0.012509   0.008130   1.538580
53           LINE_RTE      0.001807   0.001229   1.470027
46     DNA_hAT_Tip100      0.001751   0.001260   1.389672
73           SINE_MIR      0.012325   0.008921   1.381567
78          LTR_Gypsy      0.029595   0.022032   1.343245
56     LINE_RTE_Bov_B      0.007168   0.005923   1.210244
81            LINE_L2      0.037928   0.032864   1.154098
32            DNA_DNA      0.001449   0.001329   1.090482
62        SINE_Sauria      0.011488   0.010808   1.062954
82    DNA_hAT_Charlie      0.032907   0.032166   1.023028
66     LINE_Rex_Babar      0.012096   0.012066   1.002527
74  PENELOPE_Penelope      0.014520   0.014819   0.979784

In [12]:
fold_df[fold_df.repeat.str.contains("LTR")]

         repeat  noncrossover  crossover      fold
0       LTR_Pao      0.000038   0.000000       inf
15      LTR_BEL      0.000325   0.000000       inf
26     LTR_ERVK      0.000544   0.000000       inf
40      LTR_ERV      0.001284   0.000192  6.696636
42     LTR_ERV1      0.001374   0.003138  0.437969
52  LTR_Unknown      0.002430   0.000675  3.603097
57          LTR      0.003788   0.004741  0.799156
59     LTR_DIRS      0.002679   0.000307  8.726368
67    LTR_Copia      0.011430   0.002550  4.481706
71       nonLTR      0.011189   0.013952  0.801990
78    LTR_Gypsy      0.029595   0.022032  1.343245